* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background-color: white;
  font-family: "Abel", sans-serif;
  font-family: "Open Sans", sans-serif;
}
/*---------------------contenedor--------------------------*/
.contenedor {
  display: grid;
  grid-gap: 0;
  grid-template-rows: auto ;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
   "
    "contenido contenido contenido"
    ;
}
/*---------------------header--------------------------*/
.conten_header figure img:hover {
  background-color: rgb(243, 82, 82);
}
.tabla_de_posiciones:hover {
  color: white;
  background-color: rgb(243, 82, 82);
}
.equipos:hover {
  color: white;
  background-color: rgb(243, 82, 82);
}
.campeonato:hover {
  color: white;
  background-color: rgb(243, 82, 82);
}
.contacto:hover {
  color: white;
  background-color: rgb(243, 82, 82);
}
.conten_header {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #a81010; 
  padding: 0.5em;
}
.conten_header figure img {
  padding: 1rem;
  width: 6em;
  height: 6em;
}
.conten_header a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  font-size: large;
}
/*---------------------contenido--------------------------*/
.contenedor .contenido {
  width: 100%;
  grid-area: contenido;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-image: url("https://img.webme.com/pic/w/webcp/bg04.jpg");
}
.container-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
}
.info-form {
  text-align: center;
  padding-right: 2em;
  position: relative;
}
.container-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
  color: white;
}
.container-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: white;
}
.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: white;
  font-weight: 700;
}
.container-form a i {
  color: #f0e116;
  margin-right: 10px;
}
.container-form form .campo1 {
  width: 20em;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}
.container-form form .campo2 {
  width: 20em;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}
.container-form form .textarea {
  padding: 15px 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
  width: 30em;
  height: 20em;
  resize: none;
}
.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  font-weight: bold;
  background: #f0e116;
  color: rgb(238, 56, 56);
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.container-form .btn-enviar:hover {
  background:rgb(238, 56, 56);
  color: #f0e116;
}

/*---------------------footer--------------------------*/
.conten_footer {
  height: 20em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #a81010; 
  color: white;
  font-size: small;
}
.conten_footer .botones {
  display: flex;
}
.botones .facebook:hover {
  color: white;
  background-color: rgb(243, 82, 82);
}
.botones .instagram:hover {
  color: white;
  background-color: rgb(243, 82, 82);
}
.botones .twitter:hover {
  color: white;
  background-color: rgb(243, 82, 82);
}
.botones .youtube:hover {
  color: white;
  background-color: rgb(243, 82, 82);
}
.conten_footer img {
  padding-top: 0.6em;
  width: 15em;
  height: 4.5em;
}
.conten_footer .botones a {
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding: 1em 1em 1em;
  text-decoration: none;
  justify-content: space-between;
}
.conten_footer p {
  color: white;
  font-size: small;
}
.conten_footer a:hover {
  background-color: rgb(243, 82, 82);
}
/*media querys*/

@media only screen and (max-width:350px) {
  
  .container-form form .campo1 {
    width: 200px;
    margin: 0px auto;
    margin-top: 50px;
  }
  .container-form form .campo2 {
    width: 200px;
    margin: 0px auto;
    margin-top: 50px;
  }
  .container-form form .textarea  {
    width: 300px;
    margin: 0px auto;
    margin-top: 50px;
  }
  }

@media  only screen and (max-width: 480px) {
  .contenedor {
    flex-direction: column;
    flex-basis: 100%;
  }
}
@media  only screen and (max-width: 960px) {
  .contenedor {
    flex-direction: column;
    flex-basis: 100%;
  }
}


/* @media(max-width:350px) {
  .contenedor{
   grid-template-columns: auto;
   grid-template-rows: 100px auto 200px;
   grid-template-areas: 
   "header " 
  "contenido "
  "footer ";
  }  

  }
  @media(max-width:900px) {
    .contenedor{
    grid-template-columns: 200px auto;
     grid-template-rows: 100px auto 200px;  
     grid-template-areas: 
     "header header header" 
    "contenido contenido contenido"
    "footer footer footer" 
    }
    } 
    */