* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Abel", sans-serif;
  font-family: "Open Sans", sans-serif;
}
/*---------------------contenedor--------------------------*/
.contenedor {
  display: grid;
  grid-gap: 0;
  grid-template-rows: auto ;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    
    "contenido contenido contenido"
    
}
/*---------------------header--------------------------*/
.conten_header figure img:hover {
  background-color: rgb(243, 82, 82);
}
.tabla_de_posiciones:hover {
  color: white;
  background-color: rgb(243, 82, 82);
}
.equipos:hover {
  color: white;
  background-color: rgb(243, 82, 82);
}
.campeonato:hover {
  color: white;
  background-color: rgb(243, 82, 82);
}
.contacto:hover {
  color: white;
  background-color: rgb(243, 82, 82);
}
.conten_header {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #a81010; 
  padding: 0.5em;
}
.conten_header figure img {
  padding: 1rem;
  width: 6em;
  height: 6em;
}
.conten_header a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  font-size: large;
}
/*----------------------contenido-----------------*/
.contenedor .contenido {
  width: 100%;
  grid-area: contenido;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-image:url("https://img.webme.com/pic/w/webcp/bg04.jpg");
}
.tablas{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4em;
  
}
.escudo {
  text-align: center;
  padding-right: 2em;
  position: relative;
  }
.escudo img {
  width: 10em;
  height: 10em;
  padding: 0 auto;
}
.escudo h1{
  color: white;
}
.ubi{
  border: 2px solid red;
  padding: 0 auto;
  height: 10em;
  width: 10em;
  overflow: auto;
  margin: 0.5em; 
}
.planteles {
  width: 45%;
  border-collapse: collapse;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}

.planteles thead th {
  background-color:   #c71414;
  border-bottom: solid 2px #d9f00a;;
  padding: 1em;
}
.planteles thead td {
  background-color:   #c71414;
  padding: 1em;
  border-bottom: solid 2px #d9f00a;;
  font-weight: bold;
}
.plantels img {
  width: 30px;
  height: 30px;
  padding: 0%;
}
.planteles th,
td {
  padding: 0.3em;
}
.planteles tbody tr:nth-child(even) {
  background-color: #f7f78e;
}
.planteles tbody tr:hover td {
  background-color: #b11515;  
  color: rgb(255, 255, 255);
}

/*---------------------footer--------------------------*/
.conten_footer {
  height: 20em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #a81010; 
  color: white;
  font-size: small;
}
.conten_footer .botones {
  display: flex;
}
.botones .facebook:hover {
  color: white;
  background-color: rgb(243, 82, 82);
}
.botones .instagram:hover {
  color: white;
  background-color: rgb(243, 82, 82);
}
.botones .twitter:hover {
  color: white;
  background-color: rgb(243, 82, 82);
}
.botones .youtube:hover {
  color: white;
  background-color: rgb(243, 82, 82);
}
.conten_footer img {
  padding-top: 0.6em;
  width: 15em;
  height: 4.5em;
}
.conten_footer .botones a {
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding: 1em 1em 1em;
  text-decoration: none;
  justify-content: space-between;
}
.conten_footer p {
  color: white;
  font-size: small;
}
.conten_footer a:hover {
  background-color: rgb(243, 82, 82);
}
/*media querys*/
@media only screen and (max-width: 350px) {
  .planteles {
    font-size: 0.55rem;
  }
}
@media (max-width: 480px) {
  .contenedor {
    flex-direction: column;
    flex-basis: 100%;
  }
  .planteles {
    font-size: 0.8rem;
  }
}
/* @media (max-width: 480px) {
  .contenedor {
    flex-direction: column;
    flex-basis: 100%;
  }
} */
@media (max-width: 960px) {
  .contenedor {
    flex-direction: column;
    flex-basis: 100%;
  }
}
